[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "third-party/NeoRadarSDK"]
	path = third-party/NeoRadarSDK
	url = https://github.com/neoradar-project/sdk-cpp.git
